<footer>
    <div class="footer_all">
        
        <div class="ac">
            <a [routerLink]="['/about_us']"><p>About Us</p></a>
            <a [routerLink]="['/contact_us']"><p>Contact Us</p></a>
            <a [routerLink]="['/landingpage']"><p>Welcome to FeedME</p></a>
        </div>
        <div>
            <a [routerLink]="['/']"><p>Terms and Conditions</p></a>
            <a [routerLink]="['/about_us']"><p>Privacy Policy</p></a>

        </div>


       
        <div class="inp"> 
            <p>Subscribe <strong>:</strong></p>
            <input id="Bad" type="text" placeholder="Email@email" class="subscribe">
        </div>
    </div>
    <div class="footer-copyright">
        <div class="logo">
            <a [routerLink]="['/']"> <img src="../../assets/images/logo-Cream.png" alt="0000"></a>
        </div>
        <small>© FeedME.com ALXSE_2023</small>
    </div>
</footer>