footer {
    background-color: #DE5F35; 
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 15px, rgba(0, 0, 0, 0.23) 0px -3px 15px;
    letter-spacing: 0.2px;
    margin-top: auto;
}

.footer_all {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;
}
img {
    height: 24px;
}
.logo{
    width: 100px;
    height: auto;
    height: 20px;  
    
}
.footer_all p {
    white-space: nowrap;
    color: white;
}

.footer_all a {
    text-decoration: none;
}

.ac {
    padding-left: 24px;
    padding-top: 36px;
}

.subscribe {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.inp {

    padding: 20px 24px 20px 0px;
}



p {
    white-space: nowrap;
    color: white;
    font-size: 16px;
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#Bad{
    margin: 0 auto;
    border: auto;
    border-radius: 10px;
    padding: 8px 30px 8px 16px;
    outline: none;
    border: 3px solid transparent #DE5F35;
}

input[type=text]:focus {
    border-color: #f04309;
}

a {
    color: #EDE9D0;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #EDE9D0;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer-copyright {
    font-size: large;
    text-align: center;
    margin: 1rem;
    padding: 1.2rem 0;
    color: #EDE9D0;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}