.all{
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 10px;
    margin: 0px;
    letter-spacing: 0.2px;
    line-height: 1.6;

    max-width: 1100px;
    width: 100%;
    margin: 80px auto 40px;

}


.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.introv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 120px auto 50px;
}

.highlight {
    color: #de5f35;
}

p {
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 10px;
    margin: 0px;
    letter-spacing: 0.2px;
    line-height: 1.6;
}

.foody {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.foodyv2 {
    width: 600px;
    height: auto;
}

.diffingred {
    width: 400px;
    height: auto;
    margin-left: 100px;
}

.randomrecipes {
    width: 400px;
    height: auto;
    margin-right: 100px;

}

.Flags {
    width: 400px;
    height: auto;
    margin-left: 100px;

}

h2 {
    padding-bottom: 50px;
    font-size: 40px;
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 10px;
    margin: 0px;
    letter-spacing: 0.2px;
    line-height: 1.6;
}

.landing {
    margin-top: 150px;

}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
   } 

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DE5F35;
    top: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 100%;
}

.card {
    width: 300px;
    height: 370px;
    margin: 0 auto;
    background-color: #ede9d0;
    border-radius: 8px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 15px, rgba(0, 0, 0, 0.23) 0px 3px 15px;
    transition: 0.5s;
}
  
.card:hover {
    transform: translateY(-7px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 15px, rgba(0, 0, 0, 0.23) 0px 3px 15px;
}
  
.top {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
  
.circle {
    padding: 0 4px;
}
  
.circle2 {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 5px;
}
  
.header {
    margin: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
  
#title2 {
    color: white;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
.code-container {
    text-align: center;
}

#code {
    width: 270px;
    height: 300px;
    resize: none;
    background-color: #FFFDD0;
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#code:focus {
    outline: none !important;
}



.perso {
    width: 190px;
    height: 254px;
    background-color: #DE5F35;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto;
    font-family: inherit;
    box-shadow: 0px 10px 10px rgb(73, 70, 92);
    transition: 0.5s;
  }

.perso:hover {
    transform: translateY(-7px);
    box-shadow: 0px 10px 10px black;
}
  
  .perso span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .perso .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .perso .img {
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
  }

  .social-media-container {
    text-align: center;
    margin-top: 10px;
    background-color: white;
    width: 150px;
    margin: auto;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .social-media-logo {
    display: inline-block;
    margin: 0 5px;
  }
  
  .social-media-logo img {
    margin-top: 7px;
    width: 30px;
    height: auto;
  }

  .githubRepo{
    display: flex;
    align-items: center;
    padding-top: 12px;
  }

  .GitHubLogo{
    margin: 0 0 0 12px;
    width: 20px;
    height: auto;
  }