<div class="all">

  <div class="intro">
    <div class="words">
      <h2><span class="highlight">FeedME</span> - MEAL Planner Web Application</h2>
      <p>Welcome to FeedME, a web application designed to help users plan their meals<br>based on the ingredients they have on hand. With FeedME, users can easily discover recipes<br>that match their available ingredients, explore random recipes, and find recipes from various countries.</p>
    </div>
    <img src="../../assets/images/foody.png" alt="" class="foody">
  </div>
  <div class="landing">
    <div class="container">
      <div class="card">
        <div class="header">
          <div class="top">
            <div class="title">
              <p id="title2">Choose Your Ingredients</p>
            </div>
          </div>
        </div>
        <div class="code-container">
          <textarea readonly="" name="code" id="code" class="area">
            When it comes to cooking, the first step is often choosing the right ingredients. Our platform empowers you to select from a wide variety of fresh produce, meats, spices, and more, allowing you to tailor your recipes to your preferences and dietary needs. Whether you're a seasoned chef or a novice in the kitchen, our intuitive interface makes it easy to find recipes that match your available ingredients. Say goodbye to wasted food and hello to delicious, customized meals!
          </textarea>
        </div>
      </div>
      <img src="../../assets/images/diffingred.png" alt="" class="diffingred">
    </div>
  </div>
  <div class="landing">
    <div class="container">
      <img src="../../assets/images/randomrecipes.png" alt="" class="randomrecipes">
      <div class="card">
        <div class="header">
          <div class="top">
            <div class="title">
              <p id="title2">Random Recipes</p>
            </div>
          </div>
        </div>
        <div class="code-container">
          <textarea readonly="" name="code" id="code" class="area">
            Looking for culinary inspiration? Explore our vast collection of random recipes curated just for you! Whether you're in the mood for a hearty stew, a refreshing salad, or a decadent dessert, our platform has something for every taste and occasion. With each click, discover new and exciting dishes from around the world, handpicked by our team of passionate food enthusiasts. Get ready to embark on a culinary adventure like no other!
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="landing">
    <div class="container">
      <div class="card">
        <div class="header">
          <div class="top">
            <div class="title">
              <p id="title2">Explore Foods by Country</p>
            </div>
          </div>
        </div>
        <div class="code-container">
          <textarea readonly="" name="code" id="code" class="area">
            Travel the world through food with our Explore Foods by Country feature! Click on each country's flag to uncover a treasure trove of traditional recipes and culinary delights. From the aromatic spices of India to the savory street food of Mexico, our platform offers a virtual culinary tour of global cuisines. Immerse yourself in the rich flavors and cultural heritage of each region as you embark on a gastronomic journey around the globe!
          </textarea>
        </div>
      </div>
      <img src="../../assets/images/Flags.png" alt="" class="Flags">
    </div>
  </div>
  <div class="introv2">
    <img src="../../assets/images/foody2.png" alt="" class="foodyv2">
    <div class="wordsv2">
      <h2><span class="highlight">WHO</span> ARE WE?</h2>
      <p>
      We're <strong><span class="highlight">Maamoun</span> Chebbi</strong> and <strong><span class="highlight">Iheb</span> Chaoued</strong>, two Tunisian food enthusiasts with a passion for coding. Our journey into software engineering at ALX ignited a flavorful idea: merging our love for food with technology. Inspiration struck during a craving for diverse flavors, leading to the birth of <strong><span class="highlight">FeedME</span></strong>. <br><br>Our app is a celebration of global cuisine, offering a diverse array of recipes from Tunisian classics to international favorites, catering to all levels of culinary expertise.
        <br><br>Picture this: you're craving something spectacular but have no idea what to cook.<br>Fear not, because <strong><span class="highlight">FeedME</span></strong> is here to rescue you from mealtime monotony! <br>With our app, you'll uncover a treasure trove of recipes, from Tunisian tagines to global gastronomic delights.<br>Whether you're a seasoned chef or a kitchen klutz, we've got something to tantalize your taste buds and tickle your funny bone.
        <br><br>So, say goodbye to kitchen chaos and hello to culinary bliss with <strong><span class="highlight">FeedME</span></strong>.<br>Let's spice up your meal planning routine and turn every day into a feast fit for a king (or queen)!
        <br><br><strong>Our <span class="highlight">Project</span>:</strong><br>
        <a href="https://github.com/watch14/FeedME-0x1_Project" target="_blank" class="githubRepo">
          <strong>FeedME - github repo</strong>
          <img src="../../assets/images/github.svg" alt="GitHubLogo" class="GitHubLogo">
        </a>
      </p>
      </div>
    </div>
    <div class="container">
      <div class="perso">
        <div class="card-border-top"></div>
        <div class="img" style="background-image: url(../../assets/images/maamoun.jpg);"></div>
        <span> Maamoun Chebbi</span>
        <p class="job">Software Engineer</p>
        <div class="social-media-container">
          <a href="https://www.linkedin.com/in/maamoun-chebbi-a791b3159/" target="_blank" class="social-media-logo">
            <img src="../../assets/images/linkedin.svg" alt="LinkedIn Logo">
          </a>
          <a href="https://github.com/watch14" target="_blank" class="social-media-logo">
            <img src="../../assets/images/github.svg" alt="GitHub Logo">
          </a>
          <a href="https://twitter.com/E_watch14" target="_blank" class="social-media-logo">
            <img src="../../assets/images/twitter.svg" alt="Twitter Logo">
          </a>
        </div>
      </div>
      <div class="perso">
        <div class="card-border-top"></div>
        <div class="img" style="background-image: url(../../assets/images/iheb.jpg);"></div>
        <span> Iheb Chaoued</span>
        <p class="job">Software Engineer</p>
        <div class="social-media-container">
          <a href="https://www.linkedin.com/in/iheb-chaoued/" target="_blank" class="social-media-logo">
            <img src="../../assets/images/linkedin.svg" alt="LinkedIn Logo">
          </a>
          <a href="https://github.com/IhebChaoued" target="_blank" class="social-media-logo">
            <img src="../../assets/images/github.svg" alt="GitHub Logo">
          </a>
          <a href="https://twitter.com/IhebChaoued" target="_blank" class="social-media-logo">
            <img src="../../assets/images/twitter.svg" alt="Twitter Logo">
          </a>
        </div>
      </div>
    </div>

    
</div>