<div class="random_recipes">

  <mat-spinner *ngIf="loading"></mat-spinner>

  <h1 *ngIf="!loading">Random Recipes</h1>

  <div class="all_food" *ngIf="!loading"> <!-- Only show recipes when not loading -->

    <div class="food" *ngFor="let meal of meals">

      <a (click)="redirectToRecipe(meal.meal_id)">
        <img class="food_pic" [src]="meal.image" alt="">
      </a>

      <div class="food_like">

        <a class="res_name" (click)="redirectToRecipe(meal.meal_id)">
          <div class="name">
              {{ meal.name }}
            </div>
        </a>

      </div>

    </div>

  </div>

</div>
